
.bg-chat{
  background-image:url('https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80'); 
    background-repeat: no-repeat; 
    background-size: cover;
    margin-top: 5px;
    height: 100vh; 
    background-position: right 2px ;
}
.bg-login{
  background-image:url('https://images.tmcnet.com/tmc/misc/articles/image/2019-may/3889252999-bigstock-Isometric-Artificial-Intelligence-customer-service-SUPERSIZE.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    margin-top: 5px;
    height: 100vh; 
    background-position: right 2px ;
}